.vscode/**
src/**
tsconfig.json
**/*.ts
!out/**/*.js
**/*.map
.gitignore
HISTORY.md
TODO.md
*.vsix
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/LICENSE
node_modules/**/CHANGELOG*
node_modules/**/.eslintrc*
node_modules/**/tsconfig*
